
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>file-metadata-microservice</title>
        <meta name="description" content="returns information on uploaded file in JSON form">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
      <h1>File Metadata Microservice</h1>
      <form action="/upload" method="post"  enctype="multipart/form-data">
        <label type="text" >file to upload:</label>
        <input  type="file" name="file">
        <input type="submit" value="submit">
      </form>

      <h4>Code for this project can be found at: <a href="https://github.com/marckimbrey/file-metadata-microservice">https://github.com/marckimbrey/file-metadata-microservice</a></h4>

    </body>
</html>
